<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traitement CV avec LLM</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header>
            <h1>traitement CV avec LLM </h1>
        </header>

        <main>
            <div class="main">
                <section class="input-section">
                    
                    <div class="card">
                        <h2>1. Upload des CVs</h2>
                        <div class="drop-zone" id="dropZone">
                            <span class="icon"></span>
                            <p>Glissez vos fichiers PDF ici ou <span class="browse-btn">parcourir les fichiers</span></p>
                            <input type="file" id="fileInput" multiple accept=".pdf,.docx" hidden>
                        </div>
                        <button id="analyzeBtn" class="btn-primary">Lancer l'analyse </button>
                    </div>
                </section>

                <section class="results-section">
                    <div class="results-header">
                        <h2>Résultats de l'analyse</h2>
                        <span id="resultCount" class="badge">0 candidat(s)</span>
                    </div>
                
                </section>
            </div>
        </main>
    </div>

    <script src="script.js"></script>
</body>
</html>