<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CV</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Traitement CV avec LLM</h1>

        <div class="upload-card">
            <h2>Upload des CVs</h2>
            <div class="dropzone" id="dropzone">
                <p>Glissez vos fichiers ici ou <span class="link">parcourir</span></p>
                <input type="file" id="files" multiple accept=".pdf,.docx" hidden>
            </div>
            <button id="submit">Sauvegarder</button>
            <div id="status"></div>
        </div>
    </div>

    <div id="zone-resultat" style="display: none; margin-top: 20px;">
        <h3 class="miniText">Contenu du CV en text brut:</h3>
        <pre id="contenu-cv" style="background: #f8f9fa; padding: 15px;
        border: 1px solid #ddd; border-radius: 5px; white-space: pre-wrap; font-family: monospace;"></pre>
    </div>

    <script src="/static/front.js"></script>
</body>
</html>